body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightgrey;
}

.section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.settings {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px;
    padding: 16px;
    background-color: white;
    border-radius: 4px;
}

.selected {
    background-color: #202020;
    color: white;
}

.frame {
    background-color: #FF4500;
    padding: 16px;
    border-radius: 24px;
    box-shadow: 2px 2px rgb(255,255,255,0.35) inset, -2px -2px rgb(0,0,0,0.15) inset;
}

.screen {
    width: 400px;
    height: 400px;
    margin: 16px 0px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 2px 2px rgb(255,255,255,0.35), -2px -2px rgb(0,0,0,0.15);
    display: grid;
    overflow: hidden;
    cursor: crosshair;
}

.outline {
    border: 0.5px solid #eeeeee;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    color: white;
    text-shadow: 1px 1px 1px rgb(0,0,0,0.5);
}

.knob {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    border-radius: 50%;
    box-shadow: 3px 3px rgb(255,255,255,0.35) inset, -3px -3px rgb(0,0,0,0.15) inset, 4px 4px 8px rgb(0,0,0,0.25);
}

.arrow {
    margin: 8px;
}

footer {
    padding: 12px;
    background-color: #101010;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: white;
    text-align: center;
}

footer a {
    color: white;
}

button {
    width: 100%;
    margin: 8px;
    padding: 8px;
    background-color: white;
    border: 1px solid #202020;
    cursor: pointer;
    transition: all 200ms;
}

button:hover {
    transform: scale(1.05);
}

.label {
    margin-bottom: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
}

input[type="color"] {
	-webkit-appearance: none;
	width: 64px;
	height: 64px;
    margin: 8px 0px;
    padding: 0;
    border-radius: 50%;
    border: 0;
    box-shadow: 4px 4px 8px rgb(0,0,0,0.25);
    outline: 0;
    cursor: pointer;
    overflow: hidden;
    transition: all 200ms;
}

input[type="color"]:hover {
	transform: scale(1.05);
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    margin: 16px 0px 8px 0px;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 3px;
    background: #202020;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    margin-top: -6px;
    background: white;
    border: 2px solid #202020;
    border-radius: 50%;
}